.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 16px;
}

.cards > ul > li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards .cards-card-body {
  margin: 16px;
  text-align: center;
}

.cards .cards-card-body p {
  font-size: 12px;
  margin: 0;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards .cards-card-body > *:first-child {
  margin-top: 0;
}

.cards > ul > li img {
  object-fit: cover;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

/* instagram feed */
.cards.instagram > ul {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.cards.instagram > ul > li img {
  height: 300px;
  width: 300px;
  border-radius: 0;
}

/* sponsors */
.cards.sponsors > ul {
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 16px;
}

.cards.sponsors > ul > li img {
  height: 80px;
  width: 280px;
  border-radius: 10px;
}