.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns.maps-left > div > div:first-child > iframe {
  min-height: 400px;
}

.columns.maps-left > div > div:last-child {
  text-align: center;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .columns.maps-left > div > div:first-child {
    min-height: 400px;
    flex-basis: 20%;
  }
}
